HEALTHCARE_WHATSAPP_PHONE_NUMBER_ID="871044666101634"
HEALTHCARE_WHATSAPP_ACCESS_TOKEN="EAAP1tmhdo70BQT1JhIMmdkxKZBguppqu0fi2KrpZAFIJoSZAxTDZC9dBlbwY0IxlZC98ZCkoHBh5VcQ9NxgxpqYsz0RD7emUZBgy11eYdySFzVmdKeAml22G9RNPkCGYZA0x0dBPLukCoGNA6NCkAurbTJaJarxhzTMiFKcTL5hiofory0ntwmF8gOCHHVkShFcZC7wZDZD"
HEALTHCARE_WHATSAPP_VERIFY_TOKEN="mi_token"
ULTRAVOX_API_KEY="RewWIcyY.VM0Yut7aIVUzz5IuPyz8lbFQmQ7YZD3b"
PORT=3000

VERIFY_TOKEN = "mi_token"
ACCESS_TOKEN = "b5d23e96-d62a-4b88-8612-6f79986e263f"
META_TOKEN = "EAAP1tmhdo70BQT1JhIMmdkxKZBguppqu0fi2KrpZAFIJoSZAxTDZC9dBlbwY0IxlZC98ZCkoHBh5VcQ9NxgxpqYsz0RD7emUZBgy11eYdySFzVmdKeAml22G9RNPkCGYZA0x0dBPLukCoGNA6NCkAurbTJaJarxhzTMiFKcTL5hiofory0ntwmF8gOCHHVkShFcZC7wZDZD"
WHATSAPP_TOKEN = "EAAP1tmhdo70BQT1JhIMmdkxKZBguppqu0fi2KrpZAFIJoSZAxTDZC9dBlbwY0IxlZC98ZCkoHBh5VcQ9NxgxpqYsz0RD7emUZBgy11eYdySFzVmdKeAml22G9RNPkCGYZA0x0dBPLukCoGNA6NCkAurbTJaJarxhzTMiFKcTL5hiofory0ntwmF8gOCHHVkShFcZC7wZDZD"
PHONE_NUMBER_ID = "871044666101634"
WABA_ID = "1366948512109785"
WABA_ID = 899464299202005
OPENAI_API_KEY = "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"
OPENAI_REALTIME_URL = "wss://api.openai.com/v1/realtime?model=gpt-4o-realtime-preview"
ACCESS_TOKEN = "EAAP1tmhdo70BQyHcRcWjj5VASksnybZBWCaPa1sKfxE7xHXuYfaXXZAYXHN62u2ZACkjUsaoKgeZAZAIXpha9FxrxuUmPWNZCwD3aMJC8BTJ2Nq0LFf7m0MqDgNuI4dtSBjK7avOhglQitVZC0lhDAVWYeZCo6xqLw3o4rNylPZBG1qIwto6woLY7K1m4Vj9tXDFPOgZDZD"
APP_SECRET = "d200fb61da126238733b434824ba0d6e"

CLIENT_ID_RAILWAY_OUTH = "rlwy_oaci_wIdDvXydOEcz35BKbutgq9k3"

CLIENT_SECRET = "rlwy_oacs_f561c6efec3abba11c82be2a77551f0ed9b7bf63"
